<tr>
    <th scope="row" class="align-middle">{{ this.id }}</th>
    <th class="align-middle">{{this.burger_name}}</th>
    <th class="align-middle"><button class="btn-success btn eat-btn" data-id="{{ this.id }}" data-eaten="{{ this.devoured }}">Eat me!</button></th>
</tr>